@model Project_63134865.Models.DonDatHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutQuanLy_63134865.cshtml";
}


<h3>Bạn có muốn xóa?</h3>
<div>

    @using (Html.BeginForm())
    {
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Tin nhắn đơn hàng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TinNhanDDH)
                </dd>

                <dt>
                    Ngày đặt
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayGioDDH)
                </dd>

                <dt>
                    Trạng thái
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TrangThaiDDH)
                </dd>

                <dt>
                    Họ và Tên người đặt
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KhachHang.HoTenKH)
                </dd>

                <dt>
                    Mã đơn đặt hàng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaDDH)
                </dd>

                <dt>
                    Địa chỉ giao hàng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KhachHang.DiaChiKH)
                </dd>

            </dl>
        </div>

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
