@model Project_63134865.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQuanLy_63134865.cshtml";
}

<h2 style="color: #0094ff ; font-size: 30px; font:bold; ">Thông tin chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ và Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenKH)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailKH)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SdtKH)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiKH)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.SdtKH }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
