@model List<Project_63134865.Models.DonDatHangChiTiet>
@{
    Layout = "~/Views/Shared/_LayoutQuanLy_63134865.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenSV", rowsPerPage: 5);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js")

}
<html>
<head>
    <style type="text/css">
        .grid-footer {
            color: #000;
            font: 17px Calibri;
            text-align: center;
            font-weight: bold;
        }

            .grid-footer a {
                background-color: #ffffff;
                color: #0094ff;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                padding: 1px 10px 2px 10px;
            }

                .grid-footer a:active, a:hover {
                    background-color: #ffffff;
                    color: #039445;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                }

        .alternatingRowStyle {
            background-color: aliceblue;
        }

        table .table1 {
            text-align: left;
            margin-left: 0px;
            margin-right: 0px;
            width: 800px;
        }

        .tr, .td {
            text-align: left;
        }
    </style>
</head>
<body>

    <div class="d-flex justify-content-center p-5 ">
        @using (Html.BeginForm("Index", "QuanLyChiTietDonHang_63134865", FormMethod.Get))
        {
            <h3 style="color: #0094ff ; font-size: 30px; font:bold; ">Tìm kiếm sản phẩm</h3>
            <table>
                <tr>
                    <td class="fw-bold"></td>
                    <td class="ms-2">@Html.TextBox("ctdh", "", new { @class = "form-control ", @placeholder = "Nhập mã hóa đơn" })</td>
                </tr>
            </table>
            <div class="mt-3" style="margin-top:10px; ">
                <input type="submit" value="Tìm kiếm" placeholder="Nhập tên sản phẩm" class="px-5 btn btn-primary form-control" />
                <a href="@Url.Action("Index")" class="text-decoration-none px-5 btn btn-primary ms-4">Nhập mới</a>
            </div>
        }
    </div>


    <h2 style="color: #0094ff ; font-size: 30px; font:bold; "> Chi tiết hóa đơn </h2>

 

    <div id="gridContent">
        @ViewBag.TB
        @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "grid-footer",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
              columns: new[]  // colums in grid
             {
         grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
        grid.Column("MaDDH","Mã đơn hàng"), //the model fields to display
        grid.Column("SoLuongDDHCT","Số lượng "  ),
        grid.Column("ThanhTienDDHCT","Thành tiền"),
        grid.Column("DonDatHang.SdtKH","Số điện thoại"),
        grid.Column("SanPham.TenSP","Tên sản phẩm"),
        grid.Column("MaSP","Mã sản phẩm"),
        grid.Column("SanPham.AnhSP","Ảnh sản phẩm"),


grid.Column(format: (item) => Html.ActionLink("Xem chi tiết", "Details","QuanLyChiTietDonHang_63134865", new { id = item.MaDDHCT},"QuanLyChiTietDonHang_63134865Controller")),
grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","QuanLyChiTietDonHang_63134865", new { id = item.MaDDHCT },"QuanLyChiTietDonHang_63134865Controller")),


}
)
    </div>
</body>
</html>

