@model Project_63134865.Models.KhachHang

@{
    ViewBag.Title = "DangKy_63134865";
    Layout = "~/Views/Shared/_LayoutShop_63134865.cshtml";
}

<div style="width:100% ; display:flex; justify-content:center; ">
    <div class="row">
        <div class="col-md-5">
            <h3 class="fw-bold text-success text-center mb-2">Đăng ký tài khoản</h3>

        </div>
        <div class="col-md-7">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.SdtKH, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.SdtKH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                            @Html.ValidationMessageFor(model => model.SdtKH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.HoTenKH, "Họ và Tên", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.HoTenKH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ và Tên" } })
                            @Html.ValidationMessageFor(model => model.HoTenKH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailKH, "Email", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmailKH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.EmailKH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DiaChiKH, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DiaChiKH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                            @Html.ValidationMessageFor(model => model.DiaChiKH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PassKH, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PassKH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu", type = "password" } })
                            @Html.ValidationMessageFor(model => model.PassKH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-7">
                            <input type="submit" value="Đăng ký" class="btn btn-info px-5 py-0 " />
                        </div>
                    </div>
                </div>
                <div class="form-group text-danger text-center fw-bold mt-5">@ViewBag.LoginError</div>
            }
            <div>
                <a href="@Url.Action("TrangChu_63134865")" class="text-decoration-none btn btn-success px-5 py-0">Quay lại</a>
            </div>
        </div>
    </div>
</div>
